.heading {
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
}

.heading h1 {
  font-family: var(--gill-sans-font);
}

.placeholder {
  width: 70vw;
}

.contain {
  display: flex;
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1px;
}

.countries-grid li {
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0 0 0 1px var(--white-color);
}

.countries-grid li a {
  display: block;
  width: 100%;
  padding: 1.5rem;
  height: 100%;
  background-color: transparent;
  font-size: 0.9rem;
}

.countries-grid li a:hover,
.countries-grid li a:active {
  transform: scale(1.2);
}

.countries-grid li:nth-child(4n + 1) {
  background-color: var(--secondary-color);
}

.countries-grid li:nth-child(4n + 2) {
  background-color: var(--tertiary-color);
}

.countries-grid li:nth-child(4n + 3) {
  background-color: var(--primary-color);
}

.countries-grid li:nth-child(4n + 4) {
  background-color: var(--quaternary-color);
}

.title {
  font-size: 1.1rem;
  font-family: var(--gill-sans-font);
  padding: 0 0.5rem;
  background-color: var(--tertiary-color);
}

@media only screen and (min-width: 900px) {
  .placeholder {
    width: initial;
    height: 100%;
  }

  .heading {
    justify-content: center;
  }

  .countries-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
