@import url('https://fonts.googleapis.com/css2?family=Lato');

:root {
  --primary-color: #eb4c89;
  --secondary-color: #de4682;
  --tertiary-color: #d4447b;
  --quaternary-color: #f44f8f;
  --primary-blue-color: #4369b2;
  --secondary-blue-color: #3f62a4;
  --white-color: #fff;
  --lato-font: 'Lato', sans-serif;
  --gill-sans-font:
    'Gill Sans',
    'Gill Sans MT',
    calibri,
    'Trebuchet MS',
    sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-family: var(--lato-font);
  border: none;
  outline: none;
}
