.main {
  padding: 0.5rem;
}

.title {
  font-size: 1.1rem;
  font-family: var(--gill-sans-font);
}

.air-quality {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
  justify-items: center;
}

.air-quality p {
  font-weight: bold;
  font-size: 0.9rem;
}

small {
  opacity: 0.8;
}

.regions {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  border: 1px solid var(--white-color);
  gap: 1px;
}

.regions li {
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0 1px var(--white-color);
  position: relative;
}

.regions li button {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: transparent;
  font-size: 1rem;
}

.regions li:nth-child(4n + 1),
.regions li:nth-child(4n + 2) {
  background-color: var(--secondary-pink-color);
}

.regions li small {
  background-color: transparent;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
