.title {
  font-size: 1.1rem;
  font-family: var(--gill-sans-font);
  padding: 0 0.5rem;
  background-color: var(--tertiary-color);
}

.air-quality {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
  justify-items: center;
  padding: 0 0.5rem;
}

.air-quality p {
  font-weight: bold;
  font-size: 0.9rem;
}

small {
  opacity: 0.8;
}

.lds-dual-ring {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
